{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="../../static/olympic/images/favicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Open+Sans:wght@400;600;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/olympic/css/inf_about_subj.css">
    <link rel="stylesheet" href="../../static/olympic/css/register.css">
    <link rel="stylesheet" href="../../static/olympic/css/deafult.css">
</head>
<body>
{% include 'olympic/base/header.html' %}

<form action="" method="post" class="register_form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>

    <div class="register_title_cont">
        <div class="register_title">
            Изменить почту
        </div>
    </div>


    <div class="form_cont">
        {% for f in form %}
            <div style="font-size: 18px;margin-top: 12px; color: red; text-align: center; list-style-type:none">{{ f.errors }}</div>
        {% endfor %}
        <div class="input_cont">
            <div class="input_title" style="font-size: 15px">
                Введите НОВУЮ почту, на которую будут приходить все уведомления об олимпиадах
            </div>
            {{ form.new_email }}
        </div>
        <button name='password_reset' class="submit_button" type="submit">
            Сохранить
        </button>
        <div class="question">
        </div>
    </div>
</form>

{% include 'olympic/base/footer.html' %}
<script src="{% static 'olympic/js/code.jquery.com_jquery-3.7.0.js' %}"></script>
<script src="{% static 'olympic/js/script.js' %}"></script>
</body>
</html>
