{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="../../static/olympic/images/favicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Open+Sans:wght@400;600;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'olympic/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'olympic/css/deafult.css' %}">
</head>
<body>
{% include 'olympic/base/header.html' %}


<form action="" method="post" class="register_form">
    {% csrf_token %}

    <div class="register_title_cont">
        <div class="register_title">
            Авторизация
        </div>
    </div>

    <div class="form_cont">
        <div style="font-size: 18px;margin-top: 12px; color: red; text-align: center; list-style-type:none"
             class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <div style="font-size: 18px;margin-top: 12px; color: red; text-align: center; list-style-type:none">{{ f.errors }}</div>
        {% endfor %}
        <div class="input_cont">
            <div class="input_title">
                Логин
            </div>
            <svg class="icon_pass" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M7.5 6.5C7.5 8.981 9.519 11 12 11C14.481 11 16.5 8.981 16.5 6.5C16.5 4.019 14.481 2 12 2C9.519 2 7.5 4.019 7.5 6.5ZM20 21H21V20C21 16.141 17.859 13 14 13H10C6.14 13 3 16.141 3 20V21H20Z"
                      fill="#2A222B" fill-opacity="0.3"/>
            </svg>
            {{ form.username }}
            <label for="login_input" class="label_for_input">

            </label>
        </div>
        <div class="input_cont">
            <div class="input_title input_title_for_pass_in_login">
                Пароль
                <a href="{% url 'password_reset' %}">
                    Забыли пароль?
                </a>
            </div>
            <svg class="icon_pass" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M20 12C20 10.897 19.103 10 18 10H17V7C17 4.243 14.757 2 12 2C9.243 2 7 4.243 7 7V10H6C4.897 10 4 10.897 4 12V20C4 21.103 4.897 22 6 22H18C19.103 22 20 21.103 20 20V12ZM9 7C9 5.346 10.346 4 12 4C13.654 4 15 5.346 15 7V10H9V7Z"
                      fill="#2A222B" fill-opacity="0.3"/>
            </svg>
            <svg class="icon_hide" width="16" height="16" viewBox="0 0 16 16" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M6.18759 8C6.18759 8.46413 6.37196 8.90925 6.70015 9.23744C7.02834 9.56563 7.47346 9.75 7.93759 9.75C8.40172 9.75 8.84684 9.56563 9.17503 9.23744C9.50322 8.90925 9.68759 8.46413 9.68759 8C9.68759 7.53587 9.50322 7.09075 9.17503 6.76256C8.84684 6.43437 8.40172 6.25 7.93759 6.25C7.47346 6.25 7.02834 6.43437 6.70015 6.76256C6.37196 7.09075 6.18759 7.53587 6.18759 8ZM14.722 7.59688C13.2407 4.47656 11.0017 2.90625 8.00009 2.90625C4.99696 2.90625 2.75947 4.47656 1.27822 7.59844C1.2188 7.72425 1.18799 7.86165 1.18799 8.00078C1.18799 8.13991 1.2188 8.27732 1.27822 8.40312C2.75947 11.5234 4.99853 13.0938 8.00009 13.0938C11.0032 13.0938 13.2407 11.5234 14.722 8.40156C14.8423 8.14844 14.8423 7.85469 14.722 7.59688ZM7.93759 10.75C6.41884 10.75 5.18759 9.51875 5.18759 8C5.18759 6.48125 6.41884 5.25 7.93759 5.25C9.45634 5.25 10.6876 6.48125 10.6876 8C10.6876 9.51875 9.45634 10.75 7.93759 10.75Z"
                      fill="#6C6C6C"/>
            </svg>

            {{ form.password }}
            <label for="password_input" class="label_for_input"></label>
        </div>
        <button class="submit_button" type="submit">
            Войти
        </button>
    </div>
    <div class="question">
        У вас еще нет аккаунта?<br><a href="{% url 'registration' %}">Зарегистрироваться</a>
    </div>
</form>
{% include 'olympic/base/footer.html' %}
<script src="{% static 'olympic/js/code.jquery.com_jquery-3.7.0.js' %}"></script>
<script src="{% static 'olympic/js/script.js' %}"></script>
</body>
</html>


