{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="../../static/olympic/images/favicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Open+Sans:wght@400;600;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/olympic/css/inf_about_subj.css">
    <link rel="stylesheet" href="../../static/olympic/css/login.css">
    <link rel="stylesheet" href="../../static/olympic/css/deafult.css">
</head>
<body>
{% include 'olympic/base/header.html' %}


<form action="" method="post" class="register_form">
    {% csrf_token %}

    <div class="register_title_cont">
        <div class="register_title">
            Изменить Пароль
        </div>
    </div>

    <div class="form_cont">
        <div style="font-size: 18px;margin-top: 12px; color: red; text-align: center; list-style-type:none"
             class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <div style="font-size: 18px;margin-top: 12px; color: red; text-align: center; list-style-type:none">{{ f.errors }}</div>
        {% endfor %}
        <div class="input_cont">
            <div class="input_title">
                Введите новый пароль
            </div>
            <svg class="icon_pass" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M7.5 6.5C7.5 8.981 9.519 11 12 11C14.481 11 16.5 8.981 16.5 6.5C16.5 4.019 14.481 2 12 2C9.519 2 7.5 4.019 7.5 6.5ZM20 21H21V20C21 16.141 17.859 13 14 13H10C6.14 13 3 16.141 3 20V21H20Z"
                      fill="#2A222B" fill-opacity="0.3"/>
            </svg>
            {{ form.new_password }}
            <label for="login_input" class="label_for_input">

            </label>
        </div>
        <div class="input_cont">
            {{ form.password }}
            <label for="password_input" class="label_for_input"></label>
        </div>
        <button class="submit_button" type="submit">
            Изменить
        </button>
    </div>
    <div class="question">
    </div>
</form>

{% include 'olympic/base/footer.html' %}
<script src="{% static 'olympic/js/code.jquery.com_jquery-3.7.0.js' %}"></script>
<script src="{% static 'olympic/js/script.js' %}"></script>
</body>
</html>


