{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="../../static/olympic/images/favicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Open+Sans:wght@400;600;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/olympic/css/inf_about_subj.css">
    <link rel="stylesheet" href="../../static/olympic/css/register.css">
    <link rel="stylesheet" href="../../static/olympic/css/deafult.css">
</head>
<body>
{% include 'olympic/base/header.html' %}


<form action="" method="post" class="register_form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>

    <div class="register_title_cont">
        <div class="register_title">
            Регистрация на сайте
        </div>
    </div>


    <div class="form_cont">
        {% for f in form %}
            <div style="font-size: 18px;margin-top: 12px; color: red; text-align: center; list-style-type:none">{{ f.errors }}</div>
        {% endfor %}
        <div class="input_cont">
            <div class="input_title">
                Логин
            </div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.5 6.5C7.5 8.981 9.519 11 12 11C14.481 11 16.5 8.981 16.5 6.5C16.5 4.019 14.481 2 12 2C9.519 2 7.5 4.019 7.5 6.5ZM20 21H21V20C21 16.141 17.859 13 14 13H10C6.14 13 3 16.141 3 20V21H20Z"
                      fill="#2A222B" fill-opacity="0.3"/>
            </svg>
            {{ form.username }}
        </div>

        <div class="input_cont">
            <div class="input_title">
                E-mail
            </div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 4H4C2.9 4 2.01 4.9 2.01 6L2 18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6C22 4.9 21.1 4 20 4ZM19.6 8.25L12.53 12.67C12.21 12.87 11.79 12.87 11.47 12.67L4.4 8.25C4.29973 8.19371 4.21192 8.11766 4.14189 8.02645C4.07186 7.93525 4.02106 7.83078 3.99258 7.71937C3.96409 7.60796 3.9585 7.49194 3.97616 7.37831C3.99381 7.26468 4.03434 7.15581 4.09528 7.0583C4.15623 6.96079 4.23632 6.87666 4.33073 6.811C4.42513 6.74533 4.53187 6.69951 4.6445 6.6763C4.75712 6.65309 4.87328 6.65297 4.98595 6.67595C5.09863 6.69893 5.20546 6.74453 5.3 6.81L12 11L18.7 6.81C18.7945 6.74453 18.9014 6.69893 19.014 6.67595C19.1267 6.65297 19.2429 6.65309 19.3555 6.6763C19.4681 6.69951 19.5749 6.74533 19.6693 6.811C19.7637 6.87666 19.8438 6.96079 19.9047 7.0583C19.9657 7.15581 20.0062 7.26468 20.0238 7.37831C20.0415 7.49194 20.0359 7.60796 20.0074 7.71937C19.9789 7.83078 19.9281 7.93525 19.8581 8.02645C19.7881 8.11766 19.7003 8.19371 19.6 8.25Z"
                      fill="#2A222B" fill-opacity="0.3"/>
            </svg>
            {{ form.email }}

        </div>
        <div class="input_cont">
            <div class="input_title">
                Пароль
            </div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 12C20 10.897 19.103 10 18 10H17V7C17 4.243 14.757 2 12 2C9.243 2 7 4.243 7 7V10H6C4.897 10 4 10.897 4 12V20C4 21.103 4.897 22 6 22H18C19.103 22 20 21.103 20 20V12ZM9 7C9 5.346 10.346 4 12 4C13.654 4 15 5.346 15 7V10H9V7Z"
                      fill="#2A222B" fill-opacity="0.3"/>
            </svg>
            {{ form.password1 }}
        </div>

        <div class="input_cont">
            <div class="input_title">
                Подтвердите пароль
            </div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 12C20 10.897 19.103 10 18 10H17V7C17 4.243 14.757 2 12 2C9.243 2 7 4.243 7 7V10H6C4.897 10 4 10.897 4 12V20C4 21.103 4.897 22 6 22H18C19.103 22 20 21.103 20 20V12ZM9 7C9 5.346 10.346 4 12 4C13.654 4 15 5.346 15 7V10H9V7Z"
                      fill="#2A222B" fill-opacity="0.3"/>
            </svg>
            {{ form.password2 }}
        </div>

        <button name='regist' class="submit_button" type="submit">
            Зарегистрироваться
        </button>
    </div>

    <div class="question">
        Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a>
    </div>
</form>


{% include 'olympic/base/footer.html' %}
<script src="{% static 'olympic/js/code.jquery.com_jquery-3.7.0.js' %}"></script>
<script src="{% static 'olympic/js/script.js' %}"></script>
</body>
</html>
