* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    overflow-x: hidden;
}

body {
    background-image: url(../images/t1.png);

}

.container {
    max-width: 1660px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    background: #F4F3F4;
    border-radius: 0px 0px 50px 50px;
    height: 130px;
    position: absolute;
    width: 100%;
}

.nav .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navigation_links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: 400;

}

.navigation_links a {
    text-decoration: none;
    color: #2A222BCC;
}

.nav_link {
    margin-right: 40px;
}

.nav_link:last-child {
    margin-right: 0;
}

.navigation_links_mobile, .nav_mobile, .mobile_nav {
    display: none;
}

.logo_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #4D4D4D;
}


.logo_cont svg {
    height: 80px;
}

.logo_title {
    font-family: 'Irish Grover', cursive;
    font-weight: 400;
    font-size: 34px;
    margin-left: 14px;
}

.account_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.connect_container {
    display: none;
    opacity: 0;
}

.connect_container_active {
    display: block;
    position: absolute;
    width: 283px;
    bottom: -112px;
    padding: 11px 13px;
    left: -170px;
    z-index: 1000;
    border: 1px solid hsla(0, 0%, 80%, 1);
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    color: rgba(42, 34, 43, 0.80);
    opacity: 1;
    animation: opa .3s ease-in;
}

@keyframes opa {
    0% {
        display: none;
        opacity: 0;
    }
    5% {
        display: block;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.connect_container::before, .connect_container::after {
    content: '';
    position: absolute;
    left: 185px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid hsla(0, 0%, 80%, 1);
    transition: all .3s ease-in;

}

.connect_container::after {
    border-bottom: 10px solid white;
    top: -18px;
}

.connect_button {
    height: 30px;
    width: 150px;
    color: #fff;
    background-color: #EE3035;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 15px;
    margin-top: 7px;
}

.account_cont svg {
    margin-right: 30px;
    height: 51px;
    width: 51px;
}

.account_button {
    border: 0;
    background-color: #EE3035;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    line-height: 27px;
    padding: 12px 26px;
}

.icon_menu {
    display: none;
}

.intro_title {
    margin-top: 210px;
    font-size: 38px;
    font-weight: 700;
    color: #2A222B;
}

.intro_text {
    margin-top: 4px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #2A222B;
    opacity: .8;
}

.intro_search_cont {
    position: relative;
    margin-top: 40px;
}

.search_field {
    width: 540px;
    height: 46px;
    padding-left: 20px;
    color: #2E3136;
    font-size: 16px;
    background-color: #F4F3F4;
    z-index: 1;
    outline: none;
    border: #777777 1px solid;
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 47%, 0.2);
}

.search_field::placeholder, .search_field::-webkit-input-placeholder, .search_field::-moz-placeholder {
    font-size: 16px;
    color: #2E3136;
    opacity: .5;
}

.glass {
    border: 0;
    background-color: inherit;
    position: absolute;
    left: 501.67px;
    top: 14px;
    width: 15.83px;
    height: 15.83px;
    cursor: pointer;
}

.find_button {
    width: 120px;
    height: 44px;
    background-color: #008ED5;
    border-radius: 10px;
    opacity: .7;
    border: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.37px;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
}

.reset_button {
    margin-left: 20px;
    border: 0;
    background-color: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.37px;
    color: #777777;
    text-decoration: underline;
    cursor: pointer;
}

.intro_line {
    margin-top: 50px;
    width: 100%;
    height: 1px;
    background-color: #777777;
    opacity: .3;
}

.activities_olimp {
    margin-top: 20px;
    border: 0;
}

.selection_from_the_list {
    width: 245px;
    height: 34px;
    border-radius: 10px;
    outline: none;
    padding-left: 12px;
    border: 1px solid hsla(0, 0%, 47%, 0.3);
    color: hsla(218, 9%, 20%, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 18.11px;
    background-color: #FFFFFF;
}

.selection_from_the_list option {
    color: hsla(218, 9%, 20%, 0.7);
}

.olimp_choose_button {
    margin-left: 10px;
    width: 116px;
    height: 34px;
    background-color: #008ED5;
    border-radius: 10px;
    opacity: .7;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.37px;
    color: #fff;
    cursor: pointer;
}

.selected_olympiads {
    margin-top: 70px;
    margin-bottom: 140px;
    display: grid;
    grid-template-columns: calc((100% / 2) - 10px) calc((100% / 2) - 10px);
    width: 100%;
    gap: 20px 20px;

}

.choose_this_olympiad {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.choose_this_olympiad input {
    margin-left: 10px;
    border: 1px solid hsla(0, 0%, 80%, 1);
    width: 20px;
    height: 20px;
}

.choose_this_olympiad label {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.11px;
    color: hsla(0, 0%, 47%, 1);
}

.olimp_inner {
    display: flex;
    flex-direction: column;
}

.olimp_card {
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 14px 0px #2575FC4D;
    position: relative;
    overflow: hidden;
}

.olimp_card::before {
    content: "";
    position: absolute;
    width: 500%;
    height: 500%;
    top: -200%;
    left: -200%;
    z-index: -1;
    background-image: url(../images/cellsheet.png);
    background-repeat: repeat;
    transform: rotate(345deg) scale(.3);
}

.yellow_dot {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    right: 40px;
    top: 40px;
    background-color: #FFE471;
}

.olimp_card_container {
    margin-left: 40px;
    margin-right: 40px;
}

.olimp_card_intro {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.olimp_card_img {
    width: 38px;
    height: 38px;
    margin-right: 20px;
}

.olimp_card_intro_txt {
    width: 690px;
    display: flex;
    flex-direction: column;
}

.card_olimp_title {
    font-size: 34px;
    font-weight: 700;
    color: #2575FC;
    text-transform: uppercase;
}

.olimp_card:nth-child(odd) .card_olimp_title {
    color: #5D25FC;

}

.olimp_description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.olimp_subtitle {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: #2A222B;
}

.olimp_class {
    font-size: 20px;
    font-weight: 600;
    color: hsla(0, 0%, 30%, 0.8);
}

.olimp_desc {
    margin-top: 40px;
}

.description_criterion {
    display: inline-block;
    width: 292px;
    color: hsla(0, 0%, 30%, 0.8);
    font-size: 24px;
    font-weight: 400;

}

.information_about_the_olimp {
    color: #4C4C4C;
    font-size: 24px;
    font-weight: 600;
}

.classification_of_the_olympiad {
    font-size: 24px;
    font-weight: 400;
    color: #4C4C4C;
    margin-top: 53px;
}

.classification_of_the_olympiad .classificaiton_olimp_selection {
    font-weight: 700;
}

.olimp_card_button_cont {
    margin-top: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.olimp_card_button_cont button {
    height: 56px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
    width: 19vw;
    max-width: 362px;
    border-radius: 20px;
    background-color: #EE3035;
    border: none;
    transition: all .3s ease-in;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

.olimp_card_button_cont button:hover {
    border: 1px solid hsla(0, 0%, 47%, 0.2);
    background-color: #FFFFFF;
    color: #2A222B;
}


.footer {
    background: #F4F3F4;
    border-radius: 50px 50px 0px 0px;
}

.footer a {
    text-decoration: none;
}

.footer_inner {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
}

.footer_txt {
    display: flex;
    flex-direction: column;
}

.footer_inner_mobile {
    display: none;
}

.footer_qr {
    margin-right: 65px;
}

.footer_qr img {
    width: 215px;
    height: 215px;
}

.footer_columns, .footer_columns_1, .footer_columns_2 {
    display: flex;
    flex-direction: row;
}

.footer_columns {
    justify-content: space-between;
    color: #2A222B;
    width: 100%;
}

.footer_columns_1 {
    width: 840px;
}

.footer_columns_1 .footer_column:first-child {
    margin-right: 250px;
}

.footer_columns_2 .footer_column:first-child {
    margin-right: 150px;
}

.footer_title {
    color: #777777;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 22px;
}

.footer_link {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}

.footer_link a {
    text-decoration: none;
    color: #2A222B;
}

.footer_links .footer_link {
    margin-bottom: 10px;
}

.footer_links .footer_link:last-child {
    margin-bottom: 0;
}

.footer_links img:first-child {
    margin-right: 20px;
}

.footer_links img {
    height: 40px;
    width: 40px;
}

.footer_line {
    margin-top: 40px;
    width: 100%;
    height: 1px;
    background-color: rgba(119, 119, 119, 0.2);
}

.list-pages {
    text-align: center;
    margin: 0 0 20px 0;
}

.list-pages ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}

.list-pages ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}

.list-pages a {
    color: #000;
    font-size: 24px;
    text-decoration: none;
}

.list-pages .page-num, .page-num-selected {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 16px 0 0 0;
    border: 1px solid #d0d0d0;
    border-radius: 40px;
}

.list-pages .page-num:hover {
    box-shadow: 3px 3px 1px #d0d0d0;
}

.list-pages .page-num-selected {
    border: none;
    color: #000;
    font-size: 20px;
}

.list-pages .page-num-selected:hover {
    box-shadow: none;
}

.end {
    display: block;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2A222B;
}

@media screen and (max-width: 1700px) {
    .list-pages {
        text-align: center;
        margin: 0 0 20px 0;
    }

    .list-pages ul {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
    }

    .list-pages ul li {
        display: inline-block;
        margin: 0 20px 0 0;
    }

    .list-pages a {
        color: #000;
        font-size: 24px;
        text-decoration: none;
    }

    .list-pages .page-num, .page-num-selected {
        display: inline-block;
        width: 60px;
        height: 60px;
        padding: 16px 0 0 0;
        border: 1px solid #d0d0d0;
        border-radius: 40px;
    }

    .list-pages .page-num:hover {
        box-shadow: 3px 3px 1px #d0d0d0;
    }

    .list-pages .page-num-selected {
        border: none;
        color: #000;
        font-size: 20px;
    }

    .list-pages .page-num-selected:hover {
        box-shadow: none;
    }

    .nav_link {
        margin-right: 30px;
    }

    .logo_cont svg {
        height: 60px;
    }

    .logo_title {
        margin-left: 5px;
        font-size: 32px;
    }

    .account_cont svg {
        margin-right: 13px;
    }

    .account_button {
        padding: 10px 24px;
        font-size: 18px;
    }

    .logo_cont {
        margin-right: 10px;
    }

    .account_cont {
        margin-left: 5px;
    }


    .olimp_card_button_cont button {
        font-size: 18px;
    }

    .description_criterion {
        font-size: 22px;
        width: 240px;
    }

    .information_about_the_olimp {
        font-size: 22px;
    }

    .classification_of_the_olympiad {
        font-size: 22px;
    }


    .footer_inner {
        padding-top: 50px;
    }

    .footer_qr {
        margin-right: 50px;
    }

    .footer_txt {
        width: 100%;
    }

    .footer_columns {
        justify-content: start;
        width: 100%;
        margin-bottom: 10px;
    }

    .footer_columns_1 {
        min-width: 50%;
        width: auto;
    }

    .footer_column {
        min-width: 202px;
        width: 20vw;
        margin-right: 20px;
    }

    .footer_columns_2 {
        width: auto;
        justify-content: start;
    }

    .footer_columns_1 .footer_column:first-child {
        margin-right: 20px;
        width: 18vw;
    }

    .footer_columns_1 .footer_column:last-child {
        margin-right: 20px;
        width: 22vw;
    }

    .footer_columns_2 .footer_column:first-child {
        margin-right: 0;
        width: 18vw;
    }

    .footer_columns_2 .footer_column:last-child {
        width: auto;
        max-width: 150px;
    }

}

@media screen and (max-width: 1420px) {
    .nav {
        height: 100px;
    }

    .list-pages {
        text-align: center;
        margin: 0 0 20px 0;
    }

    .list-pages ul {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
    }

    .list-pages ul li {
        display: inline-block;
        margin: 0 20px 0 0;
    }

    .list-pages a {
        color: #000;
        font-size: 24px;
        text-decoration: none;
    }

    .list-pages .page-num, .page-num-selected {
        display: inline-block;
        width: 60px;
        height: 60px;
        padding: 16px 0 0 0;
        border: 1px solid #d0d0d0;
        border-radius: 40px;
    }

    .list-pages .page-num:hover {
        box-shadow: 3px 3px 1px #d0d0d0;
    }

    .list-pages .page-num-selected {
        border: none;
        color: #000;
        font-size: 20px;
    }

    .list-pages .page-num-selected:hover {
        box-shadow: none;
    }

    .navigation_links {
        font-size: 16px;
    }

    .logo_cont svg {
        height: 50px;
        width: 50px;
    }

    .logo_title {
        margin-left: 5px;
        font-size: 28px;
    }

    .account_button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .intro_title {
        font-size: 34px;
        margin-top: 140px;
    }

    .intro_text {
        font-size: 18px;
    }

    .intro_search_cont {
        margin-top: 30px;
    }

    .search_field {
        height: 42px;
    }

    .glass {
        top: 12px;
    }

    .find_button {
        height: 42px;
    }

    .intro_line {
        margin-top: 40px;
    }

    .selected_olympiads {
        margin-top: 50px;
        margin-bottom: 80px;
    }


    .description_criterion {
        font-size: 20px;
        width: 200px;
    }

    .information_about_the_olimp {
        font-size: 20px;
    }

    .classification_of_the_olympiad {
        font-size: 20px;
    }

    .olimp_subtitle {
        font-size: 16px;
    }

    .olimp_class {
        font-size: 18px;
    }

    .olimp_card_button_cont {
        justify-content: space-around;
    }

    .olimp_card_button_cont button {
        width: 18vw;
    }

    .footer_qr {
        display: flex;
        align-items: center;
    }

    .footer_qr img {
        height: 200px;
        width: 200px;
    }

    .footer_title {
        font-size: 18px;
    }

    .footer_link {
        font-size: 16px;
    }

}

@media screen and (max-width: 1200px) {
    .nav {
        height: 80px;
        border-radius: 0 0 20px 20px;
        z-index: 100;
        transition: all .3s ease-in;
    }

    .list-pages {
        text-align: center;
        margin: 0 0 20px 0;
    }

    .list-pages ul {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
    }

    .list-pages ul li {
        display: inline-block;
        margin: 0 20px 0 0;
    }

    .list-pages a {
        color: #000;
        font-size: 24px;
        text-decoration: none;
    }

    .list-pages .page-num, .page-num-selected {
        display: inline-block;
        width: 60px;
        height: 60px;
        padding: 16px 0 0 0;
        border: 1px solid #d0d0d0;
        border-radius: 40px;
    }

    .list-pages .page-num:hover {
        box-shadow: 3px 3px 1px #d0d0d0;
    }

    .list-pages .page-num-selected {
        border: none;
        color: #000;
        font-size: 20px;
    }

    .list-pages .page-num-selected:hover {
        box-shadow: none;
    }

    .nav_active {
        border-radius: 0;
    }

    .logo_cont svg {
        height: 60px;
    }

    .logo_title {
        font-size: 34px;
        margin-left: 10px;
    }

    .navigation_links, .account_cont {
        display: none;
    }

    .icon_menu {
        display: block;
    }

    .mobile_nav {
        display: none;
    }

    .icon_menu {
        position: relative;
        height: 25px;
        width: 30px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }

    .icon_menu span {
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #2A222B;
        border-radius: 2px;
        transition: 0.3s;
    }

    .icon_menu .center_span_icon {
        top: 11px;
    }

    .icon_menu span:last-child {
        top: 22px;
    }

    .mobile_nav:checked ~ .icon_menu {
        overflow: hidden;
    }

    .mobile_nav:checked ~ .icon_menu span:first-child {
        top: 11px;
        transform: rotate(135deg);
    }

    .mobile_nav:checked ~ .icon_menu span:last-child {
        top: 11px;
        transform: rotate(-135deg);
    }

    .mobile_nav:checked ~ .icon_menu .center_span_icon {
        display: none;
    }

    .nav_mobile {
        display: block;
        position: absolute;
        top: -146px;
        left: 0;
        right: 0;
        background: #F4F3F4;
        z-index: 1000;
        height: auto;
        padding-top: 5px;
        transition: all .3s ease-in;
        z-index: 1;
        border-radius: 0 0 20px 20px;
        border-bottom: 1px #2A222B solid;
    }

    .nav_mobile_active {
        top: 80px;
    }

    .account_cont_mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
    }

    .account_button_mobile {
        border: 0;
        background-color: #EE3035;
        color: #fff;
        font-size: 16px;
        border-radius: 10px;
        line-height: 20px;
        padding: 7px 21px;
        margin-left: 10px;
    }

    .connect_container_active {
        position: relative;
        top: 0;
        left: 0;
        margin: 8px auto 0;
        opacity: 1;
        animation: opa .3s ease-in;
    }

    .connect_container::before, .connect_container::after {
        left: 40px;
    }

    .navigation_links_mobile {
        display: block;
        list-style-type: none;
        margin-top: 20px;
        margin-bottom: 10px;

    }

    .nav_link_mobile {
        width: 100%;
        height: 40px;
        text-align: center;
    }

    .nav_link_mobile a {
        text-decoration: none;
        color: #2A222BCC;
    }

    .intro_title {
        margin-top: 120px;
    }

    .intro_line {
        margin-top: 30px;
    }

    .selected_olympiads {
        margin-top: 40px;
        margin-bottom: 60px;
    }


    .subject_card {
        width: calc((100% / 4) - 10px);
    }

    .olimp_desc_line {
        display: flex;
        flex-direction: column;
    }

    .olimp_subtitle {
        font-size: 14px;
    }

    .olimp_class {
        font-size: 14px;
    }

    .olimp_card_button_cont button {
        width: 17vw;
    }


    .footer_line {
        width: 100%;
        margin: 25px 0 5px;
    }

    .footer_column {
        min-width: 0;
    }

    .footer_qr {
        margin-right: 20px;
    }

    .footer_columns_1 .footer_column:first-child {
        margin-right: 10px;
    }

    .footer_columns_1 .footer_column:last-child {
        margin-right: 10px;

    }

    .footer_columns_2 .footer_column:first-child {
        margin-right: 10px;
    }

    .footer_columns_2 .footer_column:last-child {
        width: auto;
        min-width: 100px;
        margin-right: 0;
    }

    .footer_columns_2 .footer_column:last-child img:last-of-type {
        margin-right: 0;
    }

    .social {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}

/* Portrait tablets and small desktops */

@media screen and (max-width: 1024px) {
    .list-pages {
        text-align: center;
        margin: 0 0 20px 0;
    }

    .list-pages ul {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
    }

    .list-pages ul li {
        display: inline-block;
        margin: 0 20px 0 0;
    }

    .list-pages a {
        color: #000;
        font-size: 24px;
        text-decoration: none;
    }

    .list-pages .page-num, .page-num-selected {
        display: inline-block;
        width: 60px;
        height: 60px;
        padding: 16px 0 0 0;
        border: 1px solid #d0d0d0;
        border-radius: 40px;
    }

    .list-pages .page-num:hover {
        box-shadow: 3px 3px 1px #d0d0d0;
    }

    .list-pages .page-num-selected {
        border: none;
        color: #000;
        font-size: 20px;
    }

    .list-pages .page-num-selected:hover {
        box-shadow: none;
    }

    .search_field {
        width: 400px;
    }

    .glass {
        left: 365px;
    }

    .choose_this_olympiad input {
        height: 16px;
        width: 16px;
    }

    .olimp_desc_line {
        display: flex;
        flex-direction: column;
    }

    .olimp_subtitle {
        font-size: 14px;
    }

    .olimp_class {
        font-size: 14px;
    }

    .olimp_card_button_cont button {
        width: 17vw;
    }


    .selected_olympiads {
        margin-bottom: 30px;
    }

    .footer {
        border-radius: 20px 20px 0px 0px;
    }

    .footer_inner_mobile {
        display: flex;
        padding-top: 30px;
        flex-direction: column;
    }

    .footer_inner {
        display: none;
    }

    .footer_qr {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    .footer_qr_cont, .footer_qr .footer_column {
        width: 50%;
    }

    .footer_qr .footer_column {
        margin-top: 5px;
    }

    .footer_columns, .footer_columns_1, .footer_columns_2 {
        display: flex;
        flex-direction: column;
    }

    .footer_column {
        width: 100%;
        margin: 0;
    }

    .footer_link {
        width: 100%;
        font-size: 18px;
    }

    .footer_title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .footer_txt {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .footer_mobile_links_col_1, .footer_mobile_links_col_2 {
        width: 50%;
    }

    .footer_mobile_links_col_2 .footer_column:last-child {
        margin-top: 20px;
    }

    .footer_qr_cont {
        margin-right: 0;
    }

    .footer_qr img {
        height: 150px;
        width: 150px;
    }

    .footer_links img {
        height: 30px;
        width: 30px;
    }

    .social {
        display: block;
    }

    .end {
        font-size: 14px;
    }

}

@media screen and (max-width: 980px) {
    .selected_olympiads {
        grid-template-columns: 100%;
    }

    .olimp_card {
        height: 420px;
    }

    .olimp_card_button_cont {
        justify-content: space-between;
    }

    .olimp_card_button_cont button {
        width: 39vw;
        max-width: 362px;
        font-size: 22px;
    }

    .olimp_subtitle {
        font-size: 18px;
    }

    .olimp_class {
        font-size: 20px;
    }

    .olimp_desc_line {
        flex-direction: row;
    }

    .description_criterion {
        font-size: 22px;
        width: 280px;
    }

    .information_about_the_olimp {
        font-size: 22px;
    }

    .classification_of_the_olympiad {
        font-size: 22px;
        margin-top: 40px;
    }

}

.null_olympiads {
    margin: 0 40px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #2A222B;
    padding-bottom: 20px;
}

.null_olympiads {
    font-size: 18px;
}

.attention_block {
    margin-top: 130px;
}

.attention_title {
    color: #EE3035;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 36px;
    padding-top: 35px;
    margin-bottom: 20px;
}

.attention_title {
    font-size: 22px;
}

@media screen and (max-width: 1420px) {
    .null_olympiads {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .attention_block {
        margin-top: 160px;
    }

    .attention_title {
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .null_olympiads {
        font-size: 16px;
    }

    .attention_block {
        margin-top: 110px;
    }

    .attention_title {
        font-size: 18px;
    }
}

.attention_block {
    width: 100%;
    background: #F8F8F8;
    border-radius: 20px;
    margin: 19px auto 0;
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 768px) {
    .list-pages {
        text-align: center;
        margin: 0 0 20px 0;
    }

    .list-pages {
        text-align: center;
        margin: 0 0 20px 0;
    }

    .list-pages ul {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
    }

    .list-pages ul li {
        display: inline-block;
        margin: 0 20px 0 0;
    }

    .list-pages a {
        color: #000;
        font-size: 20px;
        text-decoration: none;
    }

    .list-pages .page-num, .page-num-selected {
        display: inline-block;
        width: 60px;
        height: 60px;
        padding: 16px 0 0 0;
        border: 1px solid #d0d0d0;
        border-radius: 40px;
    }

    .list-pages .page-num:hover {
        box-shadow: 3px 3px 1px #d0d0d0;
    }

    .list-pages .page-num-selected {
        border: none;
        color: #000;
        font-size: 20px;
    }

    .list-pages .page-num-selected:hover {
        box-shadow: none;
    }

    .list-pages ul {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
    }

    .list-pages ul li {
        display: inline-block;
        margin: 0 20px 0 0;
    }

    .list-pages a {
        color: #000;
        font-size: 20px;
        text-decoration: none;
    }

    .list-pages .page-num, .page-num-selected {
        display: inline-block;
        width: 60px;
        height: 60px;
        padding: 16px 0 0 0;
        border: 1px solid #d0d0d0;
        border-radius: 40px;
    }

    .list-pages .page-num:hover {
        box-shadow: 3px 3px 1px #d0d0d0;
    }

    .list-pages .page-num-selected {
        border: none;
        color: #000;
        font-size: 20px;
    }

    .list-pages .page-num-selected:hover {
        box-shadow: none;
    }

    .intro_title {
        font-size: 30px;
    }

    .intro_search_cont {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .intro_search_cont span:last-child {
        margin-top: 10px;
    }

    .search_field {
        width: 100%;
    }

    .glass {
        left: 93%;
    }

    .find_button {
        margin-left: 0;
    }

    .reset_button {
        margin-left: 15px;
    }

    .olimp_card {
        height: auto;
    }

    .selection_from_the_list {
        font-size: 14px;
    }

    .olimp_card_button_cont {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .olimp_card_button_cont button {
        width: 80vw;
        font-size: 20px;
    }

    .olimp_card_button_cont button:first-child {
        margin-bottom: 10px;
    }

    .olimp_desc_line {
        display: flex;
        flex-direction: column;
    }

    .olimp_subtitle {
        font-size: 14px;
    }

    .olimp_class {
        font-size: 14px;
    }

    .description_criterion {
        font-size: 20px;
        width: 200px;
    }

    .information_about_the_olimp {
        font-size: 20px;
    }

    .classification_of_the_olympiad {
        font-size: 20px;
    }


    .footer_link {
        width: 100%;
        font-size: 16px;
    }

    .footer_title {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .footer_qr .footer_column {
        padding-left: 10px;
    }

    .footer_mobile_links_col_2 {
        padding-left: 10px;
    }
}

/* Landscape phones and smaller */

@media screen and (max-width: 480px) {
    .list-pages {
        text-align: center;
        margin: 0 0 20px 0;
    }

    .list-pages ul {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
    }

    .list-pages ul li {
        display: inline-block;
        margin: 0 10px 0 0;
    }

    .list-pages a {
        color: #000;
        font-size: 18px;
        text-decoration: none;
    }

    .list-pages .page-num, .page-num-selected {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 16px 0 0 0;
        border: 1px solid #d0d0d0;
        border-radius: 40px;
    }

    .list-pages .page-num:hover {
        box-shadow: 3px 3px 1px #d0d0d0;
    }

    .list-pages .page-num-selected {
        border: none;
        color: #000;
        font-size: 20px;
    }

    .list-pages .page-num-selected:hover {
        box-shadow: none;
    }

    .intro_title {
        font-size: 24px;
    }

    .intro_text {
        font-size: 16px;
    }

    .search_field {
        height: 38px;
    }

    .glass {
        top: 10px;
        left: 91%;
    }

    .search_field::placeholder, .search_field::-webkit-input-placeholder, .search_field::-moz-placeholder {
        font-size: 14px;
    }

    .find_button {
        font-size: 16px;
        height: 38px;
    }

    .reset_button {
        font-size: 16px;
    }

    .intro_line {
        margin-top: 20px;
    }

    .activities_olimp {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px 10px;
        margin-top: 20px;
    }

    .olimp_choose_button {
        margin-left: 0;
        font-size: 14px;
        width: 105px;
    }

    .selection_from_the_list {
        width: 200px;
        font-size: 14px;
    }


    .olimp_card_container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .yellow_dot {
        top: 20px;
        right: 20px;
    }

    .olimp_card_intro {
        padding-top: 20px;
    }

    .olimp_card_img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .card_olimp_title {
        font-size: 28px;
    }

    .description_criterion {
        font-size: 16px;
    }

    .information_about_the_olimp {
        font-size: 16px;
    }

    .olimp_subtitle {
        font-size: 12px;
    }

    .olimp_class {
        font-size: 12px;
    }

    .olimp_desc {
        margin-top: 20px;
    }

    .classification_of_the_olympiad {
        margin-top: 20px;
        font-size: 16px;
    }

    .olimp_card_button_cont {
        margin-top: 20px;
    }

    .olimp_card_button_cont button {
        font-size: 18px;
        height: 44px;
        max-width: 280px;
    }


    .footer_qr .footer_column {
        padding-left: 10px;
    }

    .footer_mobile_links_col_2 {
        padding-left: 10px;
    }

    .footer_link {
        width: 100%;
        font-size: 14px;
    }

    .footer_title {
        font-size: 16px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 320px) {
    .activities_olimp {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 430px) {
    .list-pages {
        text-align: center;
        margin: 0 0 20px 0;
    }

    .list-pages ul {
        margin: 5px 0 0 0;
        padding: 0;
        list-style: none;
    }

    .list-pages ul li {
        display: inline-block;
        margin: 0 5px 0 0;
    }

    .list-pages a {
        color: #000;
        font-size: 15px;
        text-decoration: none;
    }

    .list-pages .page-num, .page-num-selected {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 16px 0 0 0;
        border: 1px solid #d0d0d0;
        border-radius: 40px;
    }

    .list-pages .page-num:hover {
        box-shadow: 3px 3px 1px #d0d0d0;
    }

    .list-pages .page-num-selected {
        border: none;
        color: #000;
        font-size: 15px;
    }

    .list-pages .page-num-selected:hover {
        box-shadow: none;
    }
}

@media screen and (max-width: 655px) {
    .list-pages {
        text-align: center;
        margin: 0 0 20px 0;
    }

    .list-pages ul {
        margin: 5px 0 0 0;
        padding: 0;
        list-style: none;
    }

    .list-pages ul li {
        display: inline-block;
        margin: 0 20px 0 0;
    }

    .list-pages a {
        color: #000;
        font-size: 20px;
        text-decoration: none;
    }

    .list-pages .page-num, .page-num-selected {
        display: inline-block;
        width: 35px;
        height: 50px;
        padding: 16px 0 0 0;
        border: 1px solid #d0d0d0;
        border-radius: 40px;
    }

    .list-pages .page-num:hover {
        box-shadow: 3px 3px 1px #d0d0d0;
    }

    .list-pages .page-num-selected {
        border: none;
        color: #000;
        font-size: 20px;
    }

    .list-pages .page-num-selected:hover {
        box-shadow: none;
    }
}

@media screen and (max-width: 460px) {
    .list-pages {
        text-align: center;
        margin: 0 0 20px 0;
    }

    .list-pages ul {
        margin: 5px 0 0 0;
        padding: 0;
        list-style: none;
    }

    .list-pages ul li {
        display: inline-block;
        margin: 0 10px 0 0;
    }

    .list-pages a {
        color: #000;
        font-size: 14px;
        text-decoration: none;
    }

    .list-pages .page-num, .page-num-selected {
        display: inline-block;
        width: 27px;
        height: 50px;
        padding: 16px 0 0 0;
        border: 1px solid #d0d0d0;
        border-radius: 40px;
    }

    .list-pages .page-num:hover {
        box-shadow: 3px 3px 1px #d0d0d0;
    }

    .list-pages .page-num-selected {
        border: none;
        color: #000;
        font-size: 14px;
    }

    .list-pages .page-num-selected:hover {
        box-shadow: none;
    }
}

